<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tdarr.node</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/chungnh/Tdarr_Node/Tdarr_Node</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/chungnh/Tdarr_Node</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/chungnh/Tdarr_Node/tdarr_node.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/chungnh/Tdarr_Node/tdarr_node_error.log</string>
</dict>
</plist>
